.cards-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.card {
    width: 250px;
    height: 380px;
    background-color: yellow;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 100px;
    height: 107px;
    margin: auto;
}

.card-name {
    margin: auto;
}

.card-type {
    margin: auto;
    border: 2px solid black;
    border-radius: 50px;
    width: 100px;
    padding-left: 10px;
    height: auto;
    background-color: #C4E4FF;
    border: none;
}

.card-count {
    margin: auto;
}

.card-weight {
    margin: auto;
}

.card-weaknesses {
    margin: auto;
    color: #80007C;
}

.img2 {
    display: flex;
    margin: auto;

}

.elements {
    padding-left: 100px;
    margin: auto;
    margin-top: 25px;


}